.container {
  display: flex;
  flex-direction: row;
}

.container > div {
  margin: 0 3rem;
}

.fade-enter {
  max-height: 0;
  opacity: 0;
}

.fade-enter-active {
  max-height: 30px;
  opacity: 1;
  transition: all 500ms;
}

.fade-exit {
  max-height: 30px;
  opacity: 1;
}

.fade-exit-active {
  max-height: 0;
  opacity: 0;
  transition: all 500ms;
}

ul {
  list-style: none;
}

li:hover {
  background-color: red;
  transition: all 500ms linear;
  color: whitesmoke;
  border: 1px solid red;
  opacity: 0.6;
}

.box {
  width: 25vw;
  color: coral;
  background: papayawhip;
  padding: 1em;
  margin: 2em;
  text-align: center;
  border: 1px solid coral;
  cursor: pointer;
}
